<div class="col-md-12">
  <div class="card" data-aos="fade-up" data-aos-delay="800">
  <div class="flex-wrap card-header d-flex justify-content-between align-items-center">
      <div class="header-title">
          <h4 class="card-title">Militantes</h4>
      </div>
      <div class="flex-wrap card-header d-flex justify-content-between align-items-end">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary">Nuevo Militante</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item btn text-primary" data-bs-toggle="modal" data-bs-target="#formularioCedulaModal" >
                <span class="btn-inner">
                <i class="fa-solid fa-plus"></i>
                </span> Nuevo(Automatico)</a>
            </li>
            <li>
              <a class="dropdown-item btn text-primary" data-bs-toggle="modal" data-bs-target="#formularioManualModal" >
              <span class="btn-inner">
              <i class="fa-solid fa-plus"></i>
              </span> Nuevo(Manual)</a>
          </li>
          </ul>
      </div>

      </div>
  </div>
  <div class="card-body">
    <div class="row justify-content-around">
    <div class="table-responsive" >
          <table class="display" id="datatable" style="width:100%" >
              <thead>
                <tr >
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Apodo</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor=" let data of list ">
                  <td></td>
                  <td>{{data.nombre}}</td>
                  <td>{{data.apellido}}</td>
                  <td>{{data.apodo}}</td>
                  <td>{{data.cedula}}</td>
                  <td>{{data.telefono}}</td>
                  <td>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                      <a class="btn-outline-primary  btn-icon btn-sm p-2"  (click)="selecctData(data.id)" data-bs-toggle="modal" data-bs-target="#EditModal"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a class="btn-outline-primary  btn-icon btn-sm p-2"  (click)="selecctData(data.id)" data-bs-toggle="modal" data-bs-target="#ViewModal"><i class="fa-regular fa-eye"></i></a>
                      <a class="btn-outline-primary btn-sm p-2 btn-icon text-danger"  (click)="deleteData(data.id)"><i class="fa-regular fa-trash-can"></i></a>
                  </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
 </div>
  </div>
</div>



 <!-- Modal FORMULARIO CEDULA-->
<div class="modal fade" id="formularioCedulaModal" tabindex="-1" aria-labelledby="formularioCedulaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="formularioCedulaModal">Crear nuevo Militante</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <div class="modal-body">
       <div class="col-md-12">
            <div class="card-body">
                <div class="container">
                  <div class="main-body">
                    <div class="row g-3 justify-content-center">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [(ngModel)]="cedula"   name="cedula" placeholder="Cedula" >
                          <span class="input-group-text">
                            <button type="submit" (click)="getDataJCE(cedula)" class="btn btn-outline-primary">
                              <i class="fa-solid fa-magnifying-glass"></i></button>
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
       </div>
       <div *ngIf="isValid == true">
        <div class="col-md-12 ">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25" *ngIf="imageSrc">
                            <img [src]="imageSrc" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h5 class="f-w-600">{{dataJCE.NombresPlastico}}</h5>
                        <h5 class="f-w-600">{{dataJCE.ApellidosPlastico}}</h5>
                        <p >{{dataJCE.Cedula}}</p>

                        <div *ngIf="dataJCE.existe; else templateName">
                          <span class="badge bg-success">Activo</span>
                      </div>
                      <ng-template #templateName>
                        <div *ngIf="dataJCE.existe==false">
                          <span class="badge bg-danger">Inactivo</span>
                        </div>
                      </ng-template>

                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-4">
                              <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Provincia: <h6 class="text-muted f-w-400">{{nombreProv}}</h6></h5>
                                <h5 class="m-b-16 f-w-600"></h5>
                            </div>
                              <div class="col-sm-4">
                                <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Municipio: <h6 class="text-muted f-w-400">{{nombreMuni}}</h6></h5>
                                  <h5 class="m-b-16 f-w-600"></h5>
                              </div>
                                <div class="col-sm-4">

                                    <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Circuns: <h6 class="text-muted f-w-400"> {{dataJCE.CodigoCircunscripcion}}</h6></h5>
                                  </div>

                                <div class="col-sm-4">

                                    <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Recinto: <h6 class="text-muted f-w-400">{{dataJCE.CodigoRecinto}}</h6></h5>
                                  </div>

                                <div class="col-sm-4">
                                  <div >
                                    <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Colegio: <h6 class="text-muted f-w-400">{{dataJCE.colegio}}</h6></h5>
                                  </div>
                                </div>

                        </div>
                        <div class="row">

                          <form class="row g-3" [formGroup]="formCedula" (ngSubmit)="addData()"  >


                            <div class="col-md-6">
                              <label for="floatingInput">Apodo</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="apodo"   name="apodo"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Telefono</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control"  formControlName="telefono"  name="telefono"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                              </div>
                            </div>

                            <div class="col-md-6" *ngIf="listCoordComite">
                              <label for="floatingInput"> <span  style="color: rgb(255, 0, 0);"> * </span>Coordinador Comite</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm"  formControlName="idcoordcomite"  name="idcoordcomite">
                                  <option  *ngFor="let data of listCoordComite"  [ngValue]="+data.id" >{{data.nombre}} {{data.apellido}}
                                  </option>
                                </select>
                               </div>
                            </div>

                            <div class="col-md-6" *ngIf="listZonas">
                              <label for="floatingInput">Zona</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idzona" name="idzona" >
                                  <option  *ngFor="let data of listZonas" [ngValue]="+data.id" >{{data.zona}}
                                  </option>
                                </select>
                              </div>
                            </div>

                             <div class="col-md-6" *ngIf="listLocalidad">
                              <label for="floatingInput">Localidad</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idlocalidad"   name="idlocalidad" >
                                  <option  *ngFor="let data of listLocalidad" [ngValue]="+data.id" >{{data.nombre}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="listDist" >
                              <label for="floatingInput">Distrito</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm"  formControlName="iddistrito"  name="iddistrito">
                                  <option  *ngFor="let data of listDist"  [ngValue]="+data.id" >{{data.distrito}}
                                  </option>
                                </select>
                               </div>
                            </div>




                            <button type="submit" [disabled]="formCedula.invalid"  class="btn btn-outline-primary">Guardar</button>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>


        </div>
    </div>


    </div>

  </div>
  </div>
  </div>


 <!-- Modal FORMULARIO MANUAL-->
<div class="modal fade" id="formularioManualModal" tabindex="-1" aria-labelledby="formularioManualModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="formularioCedulaModal">Crear nuevo Militante</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 ">
            <div class="row m-l-0 m-r-0">
                    <div class="card-block">
                          <form class="row g-3" [formGroup]="formCreate" (ngSubmit)="addDataManual()"  >

                            <div class="col-md-6">
                              <label for="floatingInput">Nombre</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="nombre"   name="nombre"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Apellidos</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control"  formControlName="apellido"  name="apellido"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Cedula</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control"  formControlName="cedula" [(ngModel)]="cedula" name="cedula" >
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Apodo</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="apodo"   name="apodo" >
                              </div>
                            </div>


                            <div class="col-md-6">
                              <label for="floatingInput">Telefono</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control"  formControlName="telefono"  name="telefono" >
                              </div>
                            </div>


                            <div class="col-md-6">
                              <label for="floatingInput">Recinto</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="apodo"   name="apodo" >
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Circunscripcion</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="apodo"   name="apodo" >
                              </div>
                            </div>

                            <div class="col-md-6" *ngIf="listCoordComite">
                              <label for="floatingInput"> <span  style="color: rgb(255, 0, 0);"> * </span>Coordinador Comite</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm"  formControlName="idcoordcomite"  name="idcoordcomite">
                                  <option  *ngFor="let data of listCoordComite"  [ngValue]="+data.id" >{{data.nombre}} {{data.apellido}}
                                  </option>
                                </select>
                               </div>
                            </div>

                            <div class="col-md-4" *ngIf="listZonas">
                              <label for="floatingInput">Zona</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idzona" name="idzona" >
                                  <option  *ngFor="let data of listZonas" [ngValue]="+data.id" >{{data.zona}}
                                  </option>
                                </select>
                              </div>
                            </div>

                             <div class="col-md-4" *ngIf="listLocalidad">
                              <label for="floatingInput">Localidad</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idlocalidad"   name="idlocalidad" >
                                  <option  *ngFor="let data of listLocalidad" [ngValue]="+data.id" >{{data.nombre}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="listDist" >
                              <label for="floatingInput">Distrito</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm"  formControlName="iddistrito"  name="iddistrito">
                                  <option  *ngFor="let data of listDist"  [ngValue]="+data.id" >{{data.distrito}}
                                  </option>
                                </select>
                               </div>
                            </div>

                            <button type="submit" [disabled]="formCreate.invalid"  class="btn btn-outline-primary">Guardar</button>
                        </form>
                     </div>
                  </div>
            </div>


    </div>

  </div>
  </div>
  </div>

   <!-- Modal FORMULARIO VIEW-->
   <div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ViewModalLabel"><i class="fa-regular fa-clone"></i> Informacion Militante</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                      <div class="m-b-25" *ngIf="foto">
                          <img [src]="foto" class="img-radius" alt="User-Profile-Image">
                      </div>
                      <h5 class="f-w-600">{{dataMili.nombre}}</h5>
                      <h5 class="f-w-600">{{dataMili.apellido}}</h5>
                      <p class="text-muted f-w-400">{{dataMili.cedula}}</p>

                  </div>
              </div>
              <div class="col-sm-8">
                  <div class="card-block">
                      <div class="row">

                          <div class="col-sm-4">
                            <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Apodo:
                              <h6 class="text-muted f-w-400">{{dataMili.apodo}}</h6></h5>
                              <h5 class="m-b-16 f-w-600"></h5>
                          </div>
                            <div class="col-sm-4">
                              <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Telefono:
                                <h6 class="text-muted f-w-400">{{dataMili.telefono}}</h6></h5>
                                <h5 class="m-b-16 f-w-600"></h5>
                            </div>
                              <div class="col-sm-10">
                                <div *ngIf="dataMili.idcoordcomite">
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Coordinsdor Comite:
                                    <h6 class="text-muted f-w-400">{{dataMili.idcoordcomite.nombre}} {{dataMili.idcoordcomite.apellido}}</h6></h5>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div *ngIf="dataMili.idzona">
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Zona:
                                    <h6 class="text-muted f-w-400">{{dataMili.idzona.zona}}</h6></h5>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div *ngIf="dataMili.idcolegio">
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Colegio:
                                    <h6 class="text-muted f-w-400">{{dataMili.idcolegio}}</h6></h5>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div *ngIf="dataMili.idrecinto" >
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Recinto:
                                    <h6 class="text-muted f-w-400">{{dataMili.idrecinto}}</h6></h5>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div *ngIf="dataMili.idlocalidad">
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Localidad:
                                    <h6 class="text-muted f-w-400">{{dataMili.idlocalidad.nombre}}</h6></h5>
                                </div>
                              </div>

                              <div class="col-sm-4" >
                                <div *ngIf="dataMili.iddistrito" >
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Distrito:
                                    <h6 class="text-muted f-w-400">{{dataMili.iddistrito.distrito}}</h6></h5>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div *ngIf="dataMili.idcircunscripcion">
                                  <h5 class="m-b-20 m-t-40 h5-b-5 b-b-default f-w-600">Circunsc.:
                                    <h6 class="text-muted f-w-400">{{dataMili.idcircunscripcion}}</h6></h5>
                                </div>
                              </div>
                      </div>

                  </div>
              </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal FORMULARIO Editar-->
 <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Militante</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                    <div class="m-b-25" *ngIf="foto">
                        <img [src]="foto" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h5 class="f-w-600">{{dataMili.nombre}}</h5>
                    <h5 class="f-w-600">{{dataMili.apellido}}</h5>
                    <p class="text-muted f-w-400">{{dataMili.cedula}}</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-block">

                      <form [formGroup]="formEdit" (ngSubmit)="updateData(dataM.id)">

                          <div class="row g-3">

                            <div class="col-md-6">
                              <label for="floatingInput">Apodo</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control" formControlName="apodo"   name="apodo"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label for="floatingInput">Telefono</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <input type="text" class="form-control"  formControlName="telefono"  name="telefono"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                              </div>
                            </div>

                            <div class="col-md-8" *ngIf="listCoordComite">
                              <label for="floatingInput">Coordinador Comite</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm"  formControlName="idcoordcomite"  name="idcoordcomite">
                                  <option  *ngFor="let data of listCoordComite"  [ngValue]="+data.id" >{{data.nombre}} {{data.apellido}}
                                  </option>
                                </select>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="listZonas">
                              <label for="floatingInput">Zona</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idzona" name="idzona" >
                                  <option  *ngFor="let data of listZonas" [ngValue]="+data.id" >{{data.zona}}
                                  </option>
                                </select>
                              </div>
                            </div>


                            <div class="col-md-6" *ngIf="listLocalidad">
                              <label for="floatingInput">Localidad</label>
                              <div class="input-group input-group-sm mb-3 form-group-alt">
                                <select class="form-select form-select-sm" formControlName="idlocalidad"   name="idlocalidad" >
                                  <option  *ngFor="let data of listLocalidad" [ngValue]="+data.id" >{{data.nombre}}
                                  </option>
                                </select>
                              </div>
                            </div>

                              <div class="col-md-6" >
                                <label for="floatingInput">Distrito</label>
                                <div class="input-group input-group-sm mb-3 form-group-alt">
                                  <select class="form-select form-select-sm"  formControlName="iddistrito"  name="iddistrito">
                                    <option  *ngFor="let data of listDist"  [ngValue]="+data.id" >{{data.distrito}}
                                    </option>
                                  </select>
                                  </div>
                              </div>




                              <div class="col-md-4">
                                <label for="floatingInput">Circunsc.:</label>
                                <div class="input-group input-group-sm mb-3 form-group-alt">
                                  <input type="text" class="form-control" formControlName="idcircunscripcion"   name="idcircunscripcion"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                                </div>
                              </div>

                              <div class="col-md-4">
                                <label for="floatingInput">Recinto:</label>
                                <div class="input-group input-group-sm mb-3 form-group-alt">
                                  <input type="text" class="form-control" formControlName="idrecinto"   name="idrecinto"  aria-label="Recipient's username" aria-describedby="basic-addon2">

                                </div>
                              </div>

                              <div class="col-md-4">
                                <label for="floatingInput">Colegio:</label>
                                <div class="input-group input-group-sm mb-3 form-group-alt">
                                  <input type="text" class="form-control" formControlName="idcolegio"   name="idcolegio"  >
                                </div>
                              </div>

                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Guardar  </button>
                          </div>
                        </div>

                      </form>

                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

