
  <div class="sidebar-header d-flex align-items-center justify-content-start">
    <a  href="home" class="navbar-brand">
      <img src=""  width="32" height="32" class="img-fluid gradient-main animated-scaleX" alt="images">
    </a>

  </div>
  <div class="sidebar-body pt-0 data-scrollbar">
    <div class="sidebar-list">
        <ul class="navbar-nav iq-main-menu" id="sidebar-menu">


            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-toggle="collapse" href="#sidebar-special" role="button" aria-expanded="false" aria-controls="sidebar-special">
                  <i class="icon">
                    <i class="fa-regular fa-file-lines"></i>
                  </i>
                  <span class="item-name">Coordinadores</span>
                  <i class="right-icon">
                      <svg class="icon-18" xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                      </svg>
                  </i>
              </a>
              <ul class="sub-nav collapse" id="sidebar-special" data-bs-parent="#sidebar-menu">
                <li class="nav-item">
                  <a class="nav-link " href="">
                    <i class="icon">
                      <i class="fa-solid fa-file-circle-plus"></i>
                      </i>
                    <i class="sidenav-mini-icon"> C </i>
                    <span class="item-name">Coord.Municipal</span>
                  </a>
              </li>
                  <li class="nav-item">
                      <a class="nav-link " href="">
                        <i class="icon">
                          <i class="fa-solid fa-file-circle-plus"></i>
                          </i>
                        <i class="sidenav-mini-icon"> C </i>
                        <span class="item-name">Coord.Zona</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="">
                        <i class="icon">
                          <i class="fa-regular fa-file-pdf"></i>
                        </i>
                        <i class="sidenav-mini-icon">R</i>
                        <span class="item-name">Coord.Comite</span>
                    </a>
                </li>

              </ul>
          </li>

            <li class="nav-item">
              <a class="nav-link navbar-light" aria-current="page" href="">
                  <i class="icon">
                    <i class="fa-regular fa-folder-open"></i>
                  </i>
                  <span class="item-name">Militantes</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-light" aria-current="page" href="">
                <i class="icon">
                  <i class="fa-solid fa-file-signature"></i>
                </i>
                <span class="item-name">Comites</span>
            </a>
        </li>


        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-toggle="collapse" href="#configuracion" role="button" aria-expanded="false" aria-controls="configuracion">
              <i class="icon">
                <i class="fa-regular fa-file-lines"></i>
              </i>
              <span class="item-name">Configuracion</span>
              <i class="right-icon">
                  <svg class="icon-18" xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                  </svg>
              </i>
          </a>
          <ul class="sub-nav collapse" id="configuracion" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
              <a class="nav-link " href="">
                <i class="icon">
                  <i class="fa-solid fa-file-circle-plus"></i>
                  </i>
                <i class="sidenav-mini-icon"> C </i>
                <span class="item-name">Zonas</span>
              </a>
          </li>
              <li class="nav-item">
                  <a class="nav-link " href="">
                    <i class="icon">
                      <i class="fa-solid fa-file-circle-plus"></i>
                      </i>
                    <i class="sidenav-mini-icon"> C </i>
                    <span class="item-name">Recintos</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="">
                    <i class="icon">
                      <i class="fa-regular fa-file-pdf"></i>
                    </i>
                    <i class="sidenav-mini-icon">R</i>
                    <span class="item-name">Lider</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="">
                  <i class="icon">
                    <i class="fa-regular fa-file-pdf"></i>
                  </i>
                  <i class="sidenav-mini-icon">R</i>
                  <span class="item-name">Usuarios</span>
              </a>
          </li>

          </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#reportes" role="button" aria-expanded="false" aria-controls="reportes">
            <i class="icon">
              <i class="fa-regular fa-file-lines"></i>
            </i>
            <span class="item-name">Reportes</span>
            <i class="right-icon">
                <svg class="icon-18" xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="reportes" data-bs-parent="#sidebar-menu">
          <li class="nav-item">
            <a class="nav-link " href="CoordMunicipal">
              <i class="icon">
                <i class="fa-solid fa-file-circle-plus"></i>
                </i>
              <i class="sidenav-mini-icon"> C </i>
              <span class="item-name">Coord.Municipal</span>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link " href="">
                  <i class="icon">
                    <i class="fa-solid fa-file-circle-plus"></i>
                    </i>
                  <i class="sidenav-mini-icon"> C </i>
                  <span class="item-name">Coord.Zona</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="">
                  <i class="icon">
                    <i class="fa-regular fa-file-pdf"></i>
                  </i>
                  <i class="sidenav-mini-icon">R</i>
                  <span class="item-name">Coord.Comite</span>
              </a>
          </li>

        </ul>
      </li>
        </ul>


  </div>
  </div>
  <div class="sidebar-footer"></div>

