

<div class=" conatiner-fluid content-inner  align-items-center  ">
   <div class="row">
      <div class="col-md-2">
         <div class="card">
            <div class="card-body">
               <div class="text-center">
                  Coord. Municipales
               </div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                  <div>
                     <h2 class="counter" style="visibility: visible;">{{coordZonaCant}}</h2>
                  </div>
                  <div class="border  bg-soft-primary rounded p-3">
                     <i class="fa-solid fa-people-line"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-2">
         <div class="card">
            <div class="card-body">
               <div class="text-center">
                  Coord. Zonales
               </div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                  <div>
                     <h2 class="counter" style="visibility: visible;">{{coordZonaCant}}</h2>
                  </div>
                  <div class="border  bg-soft-primary rounded p-3">
                    <i class="fa-solid fa-users-between-lines"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-2">
        <div class="card">
           <div class="card-body">
               <div class="text-center">
                  Coord. Comite
               </div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                 <div>
                    <h2 class="counter" style="visibility: visible;">{{coordComiteCant}}</h2>
                 </div>
                 <div class="border bg-soft-primary rounded p-3">
                  <i class="fa-solid fa-people-roof"></i>
                 </div>
              </div>
           </div>
        </div>
     </div>

      <div class="col-md-2">
      <div class="card">
         <div class="card-body">
            <div class="text-center">Militantes</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">0</h2>
               </div>
               <div class="border bg-soft-primary rounded p-3">
                  <i class="fa-solid fa-users"></i>
               </div>
            </div>

         </div>
      </div>
      </div>


      <div class="col-md-2">
      <div class="card">
         <div class="card-body">
            <div class="text-center">Comites</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">0</h2>
               </div>
               <div class="border  bg-soft-primary rounded p-3">
                  <i class="fa-solid fa-users-rectangle"></i>
               </div>
            </div>

         </div>
      </div>
      </div>

      <div class="col-md-2">
         <div class="card">
            <div class="card-body">
               <div class="text-center">Nuevos Militantes Hoy</div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                  <div>
                     <h2 class="counter" style="visibility: visible;">0</h2>
                  </div>
                  <div class="border  bg-soft-primary rounded p-3">
                     <i class="fa-solid fa-user-plus"></i>
                  </div>
               </div>

            </div>
         </div>
      </div>

  </div>
</div>
