

<div class=" conatiner-fluid content-inner  align-items-center  ">
  <div class="row   ">

    <div class="col-md-2">
      <div class="card bg-soft-primary">
         <div class="card-body">
            <div class="text-center">Coord.Municipales</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">{{coordMuniCant}}</h2>
                  26.84%
               </div>
               <div class="border  bg-soft-primary rounded p-3">
                 <i class="fa-solid fa-people-line"></i>
               </div>
            </div>

         </div>
      </div>
   </div>

         <div class="col-md-2">
         <div class="card bg-soft-primary">
            <div class="card-body">
               <div class="text-center">Coord.Zonales</div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                  <div>
                     <h2 class="counter" style="visibility: visible;">{{coordZonaCant}}</h2>
                     26.84%
                  </div>
                  <div class="border  bg-soft-primary rounded p-3">
                    <i class="fa-solid fa-users"></i>
                  </div>
               </div>

            </div>
         </div>
      </div>


      <div class="col-md-2">
        <div class="card bg-soft-primary">
           <div class="card-body">
              <div class="text-center">Coord.Comite</div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                 <div>
                    <h2 class="counter" style="visibility: visible;">{{coordComiteCant}}</h2>
                    26.84%
                 </div>
                 <div class="border  bg-soft-primary rounded p-3">
                  <i class="fa-solid fa-people-roof"></i>
                 </div>
              </div>

           </div>
        </div>
     </div>

      <div class="col-md-2">
      <div class="card">
         <div class="card-body">
            <div class="text-center">Coord.Comite</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">2.648</h2>
                  26.84%
               </div>
               <div class="border  bg-soft-danger rounded p-3">
                  <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                  </svg>
               </div>
            </div>

         </div>
      </div>
      </div>


      <div class="col-md-2">
      <div class="card">
         <div class="card-body">
            <div class="text-center">Militantes</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">2.648</h2>
                  26.84%
               </div>
               <div class="border  bg-soft-danger rounded p-3">
                  <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                  </svg>
               </div>
            </div>

         </div>
      </div>
      </div>


      <div class="col-md-2">
      <div class="card">
         <div class="card-body">
            <div class="text-center">Comite</div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <div>
                  <h2 class="counter" style="visibility: visible;">2.648</h2>
                  26.84%
               </div>
               <div class="border  bg-soft-danger rounded p-3">
                  <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                  </svg>
               </div>
            </div>

         </div>
      </div>
      </div>

      <div class="col-md-2">
         <div class="card">
            <div class="card-body">
               <div class="text-center">Otros</div>
               <div class="d-flex align-items-center justify-content-between mt-3">
                  <div>
                     <h2 class="counter" style="visibility: visible;">2.648</h2>
                     26.84%
                  </div>
                  <div class="border  bg-soft-danger rounded p-3">
                     <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                     </svg>
                  </div>
               </div>

            </div>
         </div>
         </div>


  </div>
</div>
